<!-- If Statement to color based on current page -->
<!-- <nav>
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}> 
    Home
  </a>
  <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
    About
  </a>
</nav> -->

<!-- Using a Yaml file for data and parsing through entries -->
<!-- Also use SCSS file for styling -->
<!-- <nav>
  {% for item in site.data.navigation %}
  <li class = "nav-item">
    <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  </li>
  {% endfor %}
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Zachary Bilmen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
	  {% for item in site.data.navigation %}
	  <li class = "nav-item">
	    <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="color:#e9ecef; text-decoration:underline"{% endif %}>{{ item.name }}</a>
	  </li>
	  {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>