---
layout: default
---
<!-- <div class="jumbotron">
	<h1>{{ page.title }}</h1>
	<p>{{ page.date | date_to_string }}</p>
</div> -->
<style type="text/css">

  .aboutBar {
  background-color: #2196F3; 
  padding: 20px; 
  color: white; 
  border-radius: 5px;
}
</style>

<div class="container">
	<br>
	{{ content }}

	<div class="card border-secondary mb-3" style="max-width: 20rem;">
  		<div class="card-header">Education</div>
  		<div class="card-body">
    		<h4 class="card-title">University of Virginia <img src="/assets/images/1004px-University_of_Virginia_Rotunda_logo.svg.png"style="width:7%;" align="right"></h4> 	
    		<h5 class="card-title">School of Engineering and Applied Sciences (SEAS)</h4>
    		<p class="card-text">I am currently a 3rd Year Bachelors of Science in Computer Science and Bachelors of Arts in Mathematics</p>
    		<a href="" class="card-link">Course History</a>
  		</div>
	</div>
</div>